<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post Detail</title>
	<style>
		#random{
			color:red;
		}
		#wth{
			color: green;
		}
		.class1{
			color: blue;
			background-color: yellow;
		}
		.class2{
			background-color: orange;
		}
	</style>
</head>
<body>
	<h1 id="random">{{title}}</h1>
	<h1 id="wth">{{content}}</h1>
	<ul>
		<li>{{list.title}}</li>
		<li>{{list.timestamp}}</li>
		<li>{{list.content}}</li>
		<li>{{list.updated}}</li>
	</ul>
	
<a href="{% url 'posts:list' %}">Go back to list</a>

</body>	
</html>