{% extends "base.html" %}
{% load urlify %}
{% load comments %}

{% block head_title %}Detail{% endblock head_title %}

{% block content %}
<body>
<div class="row">
	<div class="col-sm-6">
		<div class="thumbnail">
			{% if list.image %}
	  <img src="{{list.image.url}}" class="img-responsive">
			{% endif %}
			<div class="caption">
				<h3>{{list.title}}<small><br>{{list.publish|timesince}} ago</small></h3>
				<p>{{list.content|linebreaks|truncatechars:10}}</p>
				Author: {{list.author.username}}
				<p>
					<a href="{% url 'posts:update' slug=list.slug %}" class="btn btn-success">Edit</a>
					<a href="{% url 'posts:delete' slug=list.slug %}" class="btn btn-danger">Delete</a> 
				</p>
				 <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"> Share on Facebook
				</a><br>
				<a href="https://twitter.com/home?status={{list.content|urlify|truncatechars:50}}%20{{request.build_absolute_uri}}">
				Share on Twitter
				</a><br>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{list.title|urlify}}&summary={{list.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
				Share on Linkedin
				</a><br>	
			</div>
			{% include "django_comments.html" %}
		</div>
	</div>
</div>	

</body>	

{% endblock content %}